
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000065;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.car-form-popup {
  width: 500px;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 10px;
  border-radius: 0.3rem;
}

.close_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 20px;
  font-weight: 600;
  cursor: pointer;
}
.form_title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.form_fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ip_title {
  font-size: 20px;
}

.form_fields input,
.form_fields textarea,
.form_fields select {
  border: 1px solid #c5c5c5;
  border-radius: 0.3rem;
}

.form_fields input,
.form_fields select {
  padding-left: 5px;
  height: 40px;
}

.form_fields textarea {
  height: 80px;
}

.v_alert {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  color: #ff0000;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border: 1px solid #41B883;
  height: 40px;
  font-size: 20px;
  background-color: #41B883;
  color: #ffffff;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: #41B883;
  border: 2px solid #41B883;
}

.form-container {
  width: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.form-container form {
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}

.radio {
  display: flex;
  align-items: center;
}
.radio_ip {
  display: flex;
  align-items: center;
  width: 25%;
  height: 40px;
}
.radio_ip input {
  margin-left: 3px;
  margin-right: 10px;
}
.radio_ip .radio_label {
  font-size: 20px;
}

@media (max-width: 673px) {
  .form-container form {
    width: 90%;
  }
  .car-form-popup {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .radio_ip {
    width: 50%;
  }
}
